.flex-basis-50 {
  flex-basis: 50%;
}

.center {
  align-items: center;
  justify-content: center;
}

.font-suprema {
  font-family: "Suprema-Regular";
}

.font-extrabold {
  font-weight: 900;
}

.pointer-events-none {
  pointer-events: none;
}
