:root {
  --ferie: #ffddfc;
  --ferie-h: 305;
  --ferie-s: 100%;
  --ferie-l: 95%;

  --permesso_orario: #def5ff;
  --permesso_orario-h: 198;
  --permesso_orario-s: 100%;
  --permesso_orario-l: 94%;

  --speciale: #d6d8ff;
  --speciale-h: 237;
  --speciale-s: 100%;
  --speciale-l: 92%;

  --pending: #ffd645;
  --approvata: #3dc100;
  --rifiutata: #ff3541;
}
